:root {
  font-family: system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html, body, #root { min-height: 100%; }

a { text-decoration: none; }

button {
  border: 0;
}

input, select, textarea {
  outline: none;
}
